@model Projeto_Aeronautica_MVC.Data.Entities.Flight

@{
    ViewData["Title"] = "Details";
}

<section class="services" id="services" style="margin-top:60px">

    <h1 class="heading"> Flight Details</h1>
    <hr />
    <div>
        <div class="box-container">
            <div class="box">

                <p><b>@Html.DisplayNameFor(model => model.FlightApparatus)</b> : @Html.DisplayFor(model => model.FlightApparatus)</p>
                <p><b>@Html.DisplayNameFor(model => model.FlightOrigin)</b> : @Html.DisplayFor(model => model.FlightOrigin)</p>
                <p><b>@Html.DisplayNameFor(model => model.CityOrigin)</b> : @Html.DisplayFor(model => model.CityOrigin)</p>
                <p><b>@Html.DisplayNameFor(model => model.FlightDestiny)</b> : @Html.DisplayFor(model => model.FlightDestiny)</p>
                <p><b>@Html.DisplayNameFor(model => model.CityDestiny)</b> : @Html.DisplayFor(model => model.CityDestiny)</p>
                <p><b>@Html.DisplayNameFor(model => model.Price)</b> : @Html.DisplayFor(model => model.Price)</p>
                <p><b>@Html.DisplayNameFor(model => model.DepartureDate)</b> : @Html.DisplayFor(model => model.DepartureDate)</p>
                <p><b>@Html.DisplayNameFor(model => model.AvailableSeats)</b> : @Html.DisplayFor(model => model.AvailableSeats)</p>
                <p><b>@Html.DisplayNameFor(model => model.IsAvailable)</b> : @Html.DisplayFor(model => model.IsAvailable)</p>

                <div>
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Employee"))
                    {
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn">Edit</a>
                    }
                    <a asp-action="Index" class="btn">Back to List</a>
                </div>
            </div>

            <div style="text-align:right; position:relative">
                <img src="@Url.Content(Model.ImageFullPath)" alt="Image" style="height:300px; width:400px; border-radius:15%; overflow:hidden; box-shadow: 0px 30px 40px -25px rgba(0, 0, 0, 1)">
            </div>
        </div>
    </div>
</section>
    
