@model Projeto_Aeronautica_MVC.Data.Entities.Flight

@{
    ViewData["Title"] = "Details";
}

<section class="services" id="services" style="margin-top:60px">

    <h1 class="heading"> Flight Details</h1>
    <hr />
    <div>
        <div class="box-container">
            <div class="box">
                <p>@Html.DisplayNameFor(model => model.FlightApparatus) : @Html.DisplayFor(model => model.FlightApparatus)</p>
                <p>@Html.DisplayNameFor(model => model.AdultPrice) : @Html.DisplayFor(model => model.AdultPrice)</p>
                <p>@Html.DisplayNameFor(model => model.DepartureDate) : @Html.DisplayFor(model => model.DepartureDate)</p>
                <p>@Html.DisplayNameFor(model => model.ArrivalDate) : @Html.DisplayFor(model => model.ArrivalDate)</p>
                <p>@Html.DisplayNameFor(model => model.IsAvailable) : @Html.DisplayFor(model => model.IsAvailable)</p>

                <div>
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Employee"))
                    {
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn">Edit</a>
                    }
                    <a asp-action="Index" class="btn">Back to List</a>
                </div>
            </div>

            <div style="text-align:right; position:relative">
                <img src="@Url.Content(Model.ImageFullPath)" alt="Image" style="width:300px;height:270px;max-width:100%; border-radius:15%; overflow:hidden; box-shadow: 0px 30px 40px -25px rgba(0, 0, 0, 1)" />
            </div>

            @*@Html.DisplayNameFor(model => model.AdultPrice)
                @Html.DisplayFor(model => model.AdultPrice)

                @Html.DisplayNameFor(model => model.DepartureDate)
                @Html.DisplayFor(model => model.DepartureDate)

                @Html.DisplayNameFor(model => model.ArrivalDate)
                @Html.DisplayFor(model => model.ArrivalDate)

                @Html.DisplayNameFor(model => model.IsAvailable)
                @Html.DisplayFor(model => model.IsAvailable)*@
        </div>
    </div>
</section>
    
