@model IEnumerable<Projeto_Aeronautica_MVC.Data.Entities.Flight>

@{ ViewData["Title"] = "Index"; }

<h1>Flight List</h1>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />
<br />
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightApparatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightOrigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightDestiny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdultPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightApparatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightOrigin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightDestiny)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @*@if (!string.IsNullOrEmpty(item.ImageFullPath))
            {
                <img src="@Url.Content(item.ImageFullPath)" alt="Image" style="width:100px;height:150px;max-width:100%;height:auto">
            }*@
                @Html.DisplayFor(modelItem => item.AdultPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                {
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                }
                else
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Order</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                }
            </td>
        </tr>}
    </tbody>
</table>

@section Scripts{
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });
    </script>
}
