@model IEnumerable<Projeto_Aeronautica_MVC.Data.Entities.User>
@{
    ViewData["Title"] = "Index";
}

<head>
    <style>
        .country-select .selected-flag .arrow {
            display: none;
        }
    </style>
</head>

<section class="services" id="services" style="margin-top:60px">
    <h1 class="heading">Client List</h1>
    <hr />
</section>

<section class="form-container">
    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Register" class="btn">Create New</a>
        </p>
    }
    <form action="">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div class="inputBox">
                            <span>@Html.DisplayNameFor(model => model.FullName)</span>
                        </div>
                    </th>
                    <th>
                        <div class="inputBox">
                            <span>User Image</span>
                        </div>
                    </th>
                    <th>
                        <div class="inputBox">
                            <span>@Html.DisplayNameFor(model => model.Address)</span>
                        </div>
                    </th>
                    <th>
                        <div class="inputBox">
                            <span>@Html.DisplayNameFor(model => model.PhoneNumber)</span>
                        </div>
                    </th>
                    <th>
                        <div class="inputBox">
                            <span>Native Country</span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @*@if (item.Role != "Admin" && item.Role != "Employee")
                    {*@ 
                    <tr>
                        <td>
                            <div class="inputBox">
                                <span>@Html.DisplayFor(modelItem => item.FullName)</span>
                            </div>
                        </td>
                        <td>
                            <div class="inputBox">
                                <span><img src="@Url.Content(item.ImageFullPath)" alt="Image" style="width:100px;height:150px;max-width:100%;height:auto"></span>
                            </div>
                        </td>
                        <td>
                            <div class="inputBox">
                                <span>@Html.DisplayFor(modelItem => item.Address)</span>
                            </div>
                        </td>
                        <td>
                            <div class="inputBox">
                                <span>@Html.DisplayFor(modelItem => item.PhoneNumber)</span>
                            </div>
                        </td>
                        <td>
                            <div class="inputBox" style="position:relative; bottom:7px">
                                <input id="country_selector" style="background-color:transparent;font-size:17px;" type="text" value="@Html.DisplayFor(modelItem => item.Country)" />
                            </div>
                        </td>
                        <td>
                            @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn">Delete</a>
                            }
                        </td>
                    </tr>
                    @*}*@
                }
            </tbody>
        </table>
    </form>
</section>

<script>

    $('input[type=text]').each(function () {
        $("input[type=text]").countrySelect({
            preferredCountries: ['pt']
        });
        $("input[type=text]").attr("disabled", "disabled")
    })
</script>