@model IEnumerable<Projeto_Aeronautica_MVC.Data.Entities.Airplane>

@{ ViewData["Title"] = "Index"; }

<h1>Flight List</h1>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />

<br />
<section class="services" id="services" style="margin-top:60px">

    <h1 class="heading"> Airplane List</h1>
    <hr />
    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create" class="btn">Create New</a>
        </p>
    }
</section>
    
<section class="form-container">
    <form action="">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div class="inputBox">
                            <b><span>@Html.DisplayNameFor(model => model.Apparatus)</span></b>
                        </div>
                    </th>
                    <th>
                        <div class="inputBox">
                            <b><span>@Html.DisplayNameFor(model => model.NumberOfRows)</span></b>
                        </div>
                    </th>
                    <th>
                        <div class="inputBox">
                            <b><span>@Html.DisplayNameFor(model => model.TotalSeats)</span></b>
                        </div>
                    </th>
                    <th>
                        <div class="inputBox">
                            <b><span>@Html.DisplayNameFor(model => model.AvaliableSeats)</span></b>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="inputBox">
                                <span>@Html.DisplayFor(modelItem => item.Apparatus)</span>

                                <img src="@Url.Content(item.ImageFullPath)" alt="Image" style="width:100px;height:150px;max-width:100%;height:auto">
                            </div>
                        </td>
                        <td>
                            <div class="inputBox">
                                <span>@Html.DisplayFor(modelItem => item.NumberOfRows)</span>
                            </div>
                        </td>
                        <td>
                            <div class="inputBox">
                                <span>@Html.DisplayFor(modelItem => item.TotalSeats)</span>
                            </div>
                        </td>
                        <td>
                            <div class="inputBox">
                                <span>@Html.DisplayFor(modelItem => item.AvaliableSeats)</span>
                            </div>
                        </td>
                        <td>
                            @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</section>
@section Scripts{
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $('#MyTable').DataTable();
            });
    </script>
}

