@model IEnumerable<Projeto_Aeronautica_MVC.Data.Entities.Booking>

@{ ViewData["Title"] = "Index"; }

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />

<head>
    <style>

        .country-select .selected-flag .arrow {
            display: none;
        }
    </style>
</head>

<section class="services" id="services" style="margin-top:60px">

    <h1 class="heading">Personal Bookings</h1>
    <hr />
</section>

<section class="form-container">
    <p>
        <a asp-action="Create" class="btn">Create New</a>
    </p>
    <form action="" style="zoom:90%">

        <table class="table">

            <thead>
                <tr>
                    @if (this.User.IsInRole("Admin"))
                    {
                    }
                    <th>
                        <div class="inputBox">
                            <span>Booking Date</span>
                        </div>
                    </th>
                    <th>
                        <div class="inputBox">
                            <span>@Html.DisplayNameFor(model => model.DepartureDate)</span>
                        </div>

                    </th>
                    <th style="width:15%">
                        <div class="inputBox">
                            <span>@Html.DisplayNameFor(model => model.FlightDestiny)</span>
                        </div>
                    </th>
                    <th>
                        <div class="inputBox">
                            <span>@Html.DisplayNameFor(model => model.Value)</span>
                        </div>
                    </th>
                    <th>
                        <div class="inputBox">
                            <span>Number of Tickets</span>
                        </div>
                    </th>

                    @*<th>
            <div class="inputBox">
                <span>@Html.DisplayNameFor(model => model.Quantity)</span>
            </div>
        </th>
        <th>
            <div class="inputBox">
                <span>@Html.DisplayNameFor(model => model.Value)</span>
            </div>
        </th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <div class="inputBox">
                            <span>@Html.DisplayFor(modelItem => item.BookingDateLocal)</span>
                        </div>
                    </td>
                    <td>
                        <div class="inputBox">
                            <span>@Html.DisplayFor(modelItem => item.DepartureDate)</span>
                        </div>
                    </td>
                    <td>
                        <div class="inputBox" style="position:relative; bottom:16px">
                            <input style="background-color: transparent; font-size: 17px;" type="text" disabled="disabled" value="@Html.DisplayFor(modelItem => item.FlightDestiny)" />
                            <span>	&nbsp;	&nbsp;	&nbsp;	&nbsp; &nbsp; &nbsp;@Html.DisplayFor(modelItem => item.CityDestiny)</span>
                        </div>
                    </td>
                    <td>
                        <div class="inputBox">
                            <span>@Html.DisplayFor(modelItem => item.Value)</span>
                        </div>
                    </td>
                    <td>
                        <div class="inputBox">
                            <center><span>@Html.DisplayFor(modelItem => item.Quantity)</span></center>
                        </div>
                    </td>
                    @*<td>
            <div class="inputBox">
                <span>@Html.DisplayFor(modelItem => item.Quantity)</span>
            </div>
        </td>
        <td>
            <div class="inputBox">
                <span>@Html.DisplayFor(modelItem => item.Value)</span>
            </div>
        </td>*@
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn" id="btnDelete">Delete</a>
                    </td>
                </tr>
}
            </tbody>
        </table>
    </form>
</section>

<script>
    $('input[type=text]').each(function () {
        $("input[type=text]").countrySelect({
            preferredCountries: ['pt']
        });
        $("input[type=text]").attr("disabled", "disabled")
    })
</script>

@section Scripts{
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $('#MyTable').DataTable();
            });
    </script>
}
