@model Projeto_Aeronautica_MVC.Data.Entities.Country

@{
    ViewData["Title"] = "Details";
}

<section class="services" id="services" style="margin-top:60px">
    <h1 class="heading"> Details</h1>
    <hr />
</section>

<section class="form-container">
    <form action="">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div class="inputBox">
                            <span>@Html.DisplayNameFor(model => model.Name)</span>
                        </div>
                    </th>
                </tr>
            </thead>

            <tbody>

        <tr>
            <td>
                <div class="inputBox">
                    <span>@Html.DisplayFor(model => model.Name)</span>
                </div>
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn">Edit</a>
                    <a asp-action="AddCity" asp-route-id="@Model.Id" class="btn">Add City</a>
                    <a asp-action="Index" class="btn">Back to List</a>
            </td>
        </tr>
            </tbody>
        </table>

            @if (Model.Cities == null || Model.Cities.Count == 0)
            {
    <div class="inputBox">
        <span>No cities added yet</span>
    </div>
 }
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <div class="inputBox">
                        <span>@Html.DisplayNameFor(model => model.Cities.FirstOrDefault().Name)</span>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cities.OrderBy(c => c.Name))
            {
    <tr>
        <td>
            <div class="inputBox">
                <span>@Html.DisplayFor(modelItem => item.Name)</span>
            </div>
        </td>
        <td id="@item.Id">
            <a asp-action="EditCity" asp-route-id="@item.Id" class="btn">Edit</a>
            <a asp-action="DeleteCity" asp-route-id="@item.Id" class="btn" id="btnDelete">Delete</a>
        </td>
    </tr>
}
        </tbody>
    </table>
}

            <div id="deleteDialog" class="modal fade">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
                            <h4 class="modal-title">Delete</h4>
                        </div>
                        <div class="modal-body">
                            <p>Do you want to delete the city?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" id="btnYesDelete">Delete</button>
                            <button type="button" class="btn" id="btnNoDelete">Back</button>
                        </div>
                    </div>
                </div>
            </div>
    </form>
        </section>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

            <script type="text/javascript">
                $(document).ready(function () {
                    var id = 0;
                    $('a[id*=btnDelete]').click(function () {
                        debugger;
                        id = $(this).parent()[0].id;
                        $("#deleteDialog").modal('show');
                        return false;
                    });
                    $("#btnNoDelete").click(function () {
                        $("#deleteDialog").modal('hide');
                        return false;
                    });
                    $("#btnYesDelete").click(function () {
                        window.location.href = '/Countries/DeleteCity/' + id;
                    });
                });
            </script>
        }
